header {
        font-size:22px;
        font-family: aloha-bold;
        font-weight: bold;
        text-align: center;
        text-transform:uppercase;
        color:#1e882e;
    }
body {
	background-color: #b7d1c4
}

table {
    width:100%;
    table-layout: center;
    font-stretch:26px;
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
    color: #acd1b2;
    border: 10px groove black;
}
table img {
    width:100%;
}
.table.center {
    margin-left: auto;
    margin-right: auto;
}
h3  {
    text-transform: uppercase;
}
     

#lastfooter {
    color:blue;
    font-size:8px;
    text-align:right; 
}